

<h1>記事内容変更</h1>
<%= form_for @post, url: { action: :update } do |f| %>

 <p>タイトル<br>
 <%= f.text_field :title %>
 </p>

 <p>カテゴリ<br>
 <%= f.text_field :category %>
 </p>

 <p>本文<br>
 <%= f.text_area :body %>
 </p>

<%= f.submit '更新する' %>

<% end %>
